@font-face {
<<<<<<< HEAD
  font-family: "GenSenRounded2 TC-B";
  src: url("/assets/fonts/GenSenRounded2TC-B.otf") format("opentype");
=======
  font-family: "GenSenRounded2 TC-B"; 
  src: url('/assets/fonts/GenSenRounded2TC-B.otf') format("opentype");
>>>>>>> edcc9912192395623dd206ee54a9d07fe9c2d559
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
<<<<<<< HEAD
  font-family: "GenSenRounded2 TC-R";
  src: url("/assets/fonts/GenSenRounded2TC-R.otf") format("opentype");
=======
  font-family: "GenSenRounded2 TC-R"; 
  src: url('/assets/fonts/GenSenRounded2TC-R.otf') format("opentype");
>>>>>>> edcc9912192395623dd206ee54a9d07fe9c2d559
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
