@font-face {
  font-family: "GenSenRounded2 TC-B"; 
  src: url('/assets/fonts/GenSenRounded2TC-B.otf') format("otf"),
  font-weight normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GenSenRounded2 TC-R"; 
  src: url('/assets/fonts/GenSenRounded2TC-R.otf') format("otf"),
  font-weight normal;
  font-style: normal;
  font-display: swap; 
}