.footer {
  background: #69f0ae;
  font-size: 64px;
}

@media (min-width: 960px) {
  .b2-lg {
    font-size: 16px;
  }
}

// .footer-icons {
//   display: flex;
//   justify-content: space-between; // 手機板左右拉滿
//   flex-wrap: nowrap;
//    align-items: flex-end;

//   img {
//     flex: 0 0 20%;
//     max-width: 20%; // 手機板 4 張圖片平均分配
//     height: auto;
//     max-height: 180px; // 限制圖片最大高度
    
//   }

//   @media (min-width: 768px) {
//     justify-content: space-around; // 電腦板
//     img {
//       max-width: auto; // 電腦板用原尺寸或 img-fluid
//     }
//   }
// }

.footer-icons {
  display: flex;
  justify-content: space-between; // 手機板左右拉滿
  flex-wrap: nowrap;
   align-items: flex-end;
   width: 100%;

  img {
    flex: 1 1 o;
    max-width: 100%; // 手機板 4 張圖片平均分配
    height: auto;
    object-fit: contain;
    
  }

  @media (min-width: 768px) {
    justify-content: space-around; // 電腦板
    img {
      max-width: auto; // 電腦板用原尺寸或 img-fluid
    }
  }

}