.section-concept-top {
    width: 306px; 
    height: 306px;
    padding: 53px;
    @media (max-width: 991px) {
        padding: 0;
        height: auto;
        img {
            width: 100px;
            height: 100px;
        }
    }
}

/* 背景裝飾 */
.about-bone-decoration { /* 骨頭 */
    top: 80px;
    left: 80px;
    width: 148px;
    height: auto;
    @media (max-width: 991px) {
        top: 16px;
        left: 12px;
        width: 66px;
        height: auto;
    }
}

.about-fishbone-decoration { /* 魚骨頭 */
    top: 20px;
    right: 80px;
    width: 200px;
    height: auto;
    @media (max-width: 991px) {
        top: 20px;
        right: 8px;
        width: 72px;
        height: auto;
    }
}

.about-outlinedpaw-decoration { /* 腳掌 */
    top: 80px;
    left: 60px;
    width: 160px;
    height: auto;
    @media (max-width: 991px) {
        top: 20px;
        left: 12px;
        width: 58px;
        height: auto;
    }
}

.Frame {
  width: 100%;
  height: auto;
}
.w-1296 {
  width: 1296px;
  height: auto;
  margin-inline: auto; /* ← 置中關鍵 */
  display: block;
}
.photo-lg {
  position: absolute;
  left: calc(50% - 110px);
  bottom: 0;
}
.catwoo-md {
  height: auto;
}
.photo-md {
  position: absolute;
  left: calc(50% - 80px);
}
.paw-lg {
  position: absolute;
  top: 50px;
  right: clamp(0px, calc(1025px - 300vw), -84px);
  @media (max-width: 768px) {
    right: 0 ;
    width: 40px;
    top: 0px;
  }
  img {
    width: 146px;
    @media (max-width: 768px) {
      width: 40px;
    }
  }
}
.paw-y-lg {
  position: absolute;
  object-fit: cover;
  top: calc(50% + 150px);
  right: calc(50% + 650px);
}
.paw-md {
  height: auto;
  object-fit: cover;
  position: absolute;
  top: clamp(0px, calc(1025px - 300vw), -10px);
  right: 0px;
  width: 40px;
}
.paw-y-md {
  width: 50px;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: calc(50% + 70px);
  right: calc(50% + 130px);
}
.mirror-y {
  left: clamp(0px, calc(1025px - 400vw), -84px);
  bottom: 0;
  width: 128px;
  height: auto;
  transform: scaleY(-1);
  @media (max-width: 768px) {
    left: 0;
    width: 40px;
    bottom: 0;
  }
}
.heartImg {
  position: absolute;
  max-width: 48px;
  height: auto;
  bottom: clamp(126px, calc(1790px - 100vw), 100px);
  left: clamp(0px, calc(1790px - 100vw), -300px);
  }

.heartsImg {
  position: absolute;
  max-width: 36px;
  height: auto;
  top: clamp(0px, calc(1790px - 300vw), 120px);
  left: clamp(0px, calc(1790px - 400vw), -92px);
  @media (max-width: 992px) {
    top: -35px;
  }
}

.dogImg {
  position: absolute;
  max-width: 148px;
  height: auto;
  top: 100px;
  z-index: 9999;
  right: clamp(100px, calc(-121.7px + 0.1126vw), 0px);
}

.catImg {
  position: absolute;
  max-width: 160px;
  bottom: 100px;
  z-index: 9999;
  top: auto;
  left: clamp(100px, calc(-121.7px + 0.1126vw), 0px);
}

.card-img-top {
  display: block;
  max-width: 100%;
  height: auto;
  margin-inline: auto;
  object-fit: contain;
}

@media (max-width: 1300px) {
  .dogImg {
    right: 10px;
  }
  .catImg {
    left: 20px;
  }
}

@media (max-width: 767px) {
  .heartImg {
    bottom: 3%;
    left: 90%;
    width: 16px;
  }

  .heartsImg {
    top: 52%;
    left: 3%;
    width: 16px;
  }

  .dogImg {
    width: 48px;
    top: 72px;
    right: 4px;
  }

  .catImg {
    width: 48px;
    bottom: 60px;
    left: 4px;
  }
}
