.Frame {
  width: 100%;
  height: auto;
}
.w-1296 {
  width: 1296px;
  height: auto;
  margin-inline: auto; /* ← 置中關鍵 */
  display: block;
}
.photo-lg {
  position: absolute;
  left: calc(50% - 110px);
  bottom: 0;
}
.catwoo-md {
  height: auto;
}
.photo-md {
  position: absolute;
  left: calc(50% - 80px);
}
.paw-lg {
  position: absolute;
  top: 50px;
  right: clamp(0px, calc(1025px - 300vw), -84px);
  @media (max-width: 768px) {
    right: 0 ;
    width: 40px;
    top: 0px;
  }
  img {
    width: 146px;
    @media (max-width: 768px) {
      width: 40px;
    }
  }
}
.paw-y-lg {
  position: absolute;
  object-fit: cover;
  top: calc(50% + 150px);
  right: calc(50% + 650px);
}
.paw-md {
  height: auto;
  object-fit: cover;
  position: absolute;
  top: clamp(0px, calc(1025px - 300vw), -10px);
  right: 0px;
  width: 40px;
}
.paw-y-md {
  width: 50px;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: calc(50% + 70px);
  right: calc(50% + 130px);
}
.mirror-y {
  left: clamp(0px, calc(1025px - 400vw), -84px);
  bottom: 0;
  width: 128px;
  height: auto;
  transform: scaleY(-1);
  @media (max-width: 768px) {
    left: 0;
    width: 40px;
    bottom: 0;
  }
}
