.Frame{
    width: 100%;
    height: auto;
}
.w-1296{
    width: 1296px;
    height: auto;
    margin-inline: auto;   /* ← 置中關鍵 */
    display: block;
}
.photo-lg{
    position:absolute;
    left:calc(50% - 110px);

}
.catwoo-md{
    
    height: auto;
}
.photo-md{
    position:absolute;
    left:calc(50% - 80px);
}
.paw-lg{
    position:absolute;
    object-fit: cover; 
    top: 50px;
    right:calc(50% - 800px);
}
.paw-y-lg{
    position:absolute;
    object-fit: cover; 
    top: calc(50% + 150px);
    right:calc(50% + 650px);
}
.paw-md{
    width: 50px;
    height: auto;
    object-fit: cover; 
    position:absolute;
    top:calc(50% - 100px);
    right:calc(50% - 170px);
}
.paw-y-md{
    width: 50px;
    height: auto;
    object-fit: cover; 
    position:absolute;
    top:calc(50% + 70px);
    right:calc(50% + 130px);
}
.mirror-y{
  transform: scaleY(-1);
}