.site-header {
  background-color: $primary-1-02;
  width: 100%;
}

.hero {
  &-images {
    margin-right: 140px;
  }
  &-content {
    padding-bottom: 210px;
  }
  &-paw {
    bottom: 100px;
    right: 120px;
  }
}

.searchbar {
  &-input {
    padding-left: 56px;
    width: 100%;
    max-width: 456px;
  }
  &-btn {
    width: 156px;
    background-color: $primary-1-05;
    color: white;
  }
}