
.site-header {
  background-color: $primary-1-02;
  width: 100%;
}

.hero {
  &-images {
    margin-right: 140px;
  }
  &-content {
    padding-top: 104px;
    padding-bottom: 210px;
  }
  &-paw {
    bottom: 100px;
    right: 120px;
    width: 144px;
    height: auto;
    @media (max-width: 991px) {
      bottom: 299px;
      right: 32px;
      width: 44px;
      height: auto;
      z-index: 1;
    }
  }
}
@media (max-width: 512px) {
  .hero {
    &-images {
      width: 100%;
      margin-left: auto;
    }
    &-content {
      padding-top: 48px;
      padding-bottom: 40px;
      h1 {
        font-size: $h4-font-size;
      }
      .title-br {
        margin-bottom: 8px;
      }
      h2 {
        font-size: $h5-font-size;
      }
    }
  }
}


.searchbar {
  &-icon {
    left: 20px;
    top: 16px;
  }
  &-input {
    padding-left: 56px;
    width: 100%;
    max-width: 456px;
    @media (max-width: 991px) {
      width: 351px;
    }
  }
  &-btn {
    width: 156px;
    background-color: $primary-1-05;
    color: white;
  }
}
