.heartImg {
  position: absolute;
  max-width: 48px;
  height: auto;
  bottom: clamp(126px, calc(1790px - 100vw), 100px);
  left: clamp(-180px, calc(1790px - 100vw), -120px);
  
}

.heartsImg {
  position: absolute;
  max-width: 36px;
  height: auto;
  top: clamp(0px, calc(1790px - 300vw), 120px);
  left: clamp(0px, calc(1790px - 400vw), -92px);
  @media (max-width: 992px) {
    top: -35px;
  }
}

.dogImg {
  position: absolute;
  max-width: 148px;
  height: auto;
  top: 100px;
  z-index: 9999;
  right: clamp(100px, calc(-121.7px + 0.1126vw), 0px);
}

.catImg {
  position: absolute;
  max-width: 160px;
  bottom: 100px;
  z-index: 9999;
  top: auto;
  left: clamp(100px, calc(-121.7px + 0.1126vw), 0px);
}

.card-img-top {
  display: block;
  max-width: 100%;
  height: auto;
  margin-inline: auto;
  object-fit: contain;
}

@media (max-width: 1300px) {
  .dogImg {
    right: 10px;
  }
  .catImg {
    left: 20px;
  }
}

@media (max-width: 767px) {
  .heartImg {
    bottom: 3%;
    left: 90%;
    width: 16px;
  }

  .heartsImg {
    top: 52%;
    left: 3%;
    width: 16px;
  }

  .dogImg {
    width: 48px;
    top: 72px;
    right: 4px;
  }

  .catImg {
    width: 48px;
    bottom: 60px;
    left: 4px;
  }
}

* {
  outline: 1px solid red !important; // 給所有元素一個紅色外框
}