.container{
    position: relative;

}

.heart-img{
  position: absolute;
  width: 48px;
  top: 0;
  right:-48px;
  }

.heart1-img{
  position: absolute;
  width: 36px;
  bottom: 0;
  left:-36px;
  }



.card-img-top {
  display: block;           
  width: 100%;             
  height: auto;             
  margin-inline: auto;  
  object-fit: contain;    
}


