
.heartImg{
  position: absolute;
  width: 48px;
  top: 460px;
  left:calc(50% - 828px);
  }

.heartsImg{
  position: absolute;
  width: 36px;
  top: 180px;
  left:calc(50% - 740px);
  }



.card-img-top {
  display: block;           
  width: 100%;             
  height: auto;             
  margin-inline: auto;  
  object-fit: contain;    
}


@media(max-width: 767px){
  .heartImg{
    top:340px;
    left:12px;
  }
}