// body{
//     background-color: #fefae0;
// }

.proBanner{
    background-color: #ffcf50;
}

// .ProdBannerWave{
//     position: absolute;
//     bottom: -104px;
// }

.CarouButBox{
    position: absolute;
    bottom: 0;
}

.w-100{
    width: 100%;
}

.ProdBannerWave{
    bottom: -90px;
}

.ProdBannerWhite{
    position: absolute;
    bottom: -500px;

}

.mb-104{
    margin-bottom: 104px;
}

.mt-250{
    margin-top: 250px;
}

// .carousel-control-prev{
//     position: absolute;
//     left: -200;
//     border: red solid 1px;
// }

@media screen and (max-width: 768px){
    .mdCarouSel{
        width: 351px;
    }
    .decoredpawMD1{
        width: 28px;
        top: 112px;
        left: 12px;
    }

    .decoredpawMD2{
        width: 32px;
        bottom: 34px;
        right: 12px;
    }
}

.mt-2px{
    margin-top: 2px;
}

.mb-4px{
    margin-bottom: 4px;
}

.my-4px{
    margin: 4px auto;
}

.py-4px{
    padding-top: 4px;
    padding-bottom: 4px; 
}

.HSCardStyle{
    background-color: #fff;
    border-radius: 20px;
    width: 416px;
    border: #c8d2a3 solid 2px;
}

.CardKeyWordStyle{
    text-align: center;
    box-sizing: border-box;
    display: block;
    width: 115px;
    background-color: #ffe296;
}

.CardBrand{
    font-weight: 700;
    color: #626f47;
    line-height: 1.5;
}

.ls-2{
    letter-spacing: 0.02em;
}

// .center-text{
//     dominant-baseline: central;
//     text-anchor: middle;                                
// }

.decor01{
    left: 0;
    bottom: 215px;
    width: 228px;
}


.decor03{
    left: 530px;
    bottom: 50px;
    width: 53px;
}

.decor04{
    right: 530px;
    bottom: 40px;
    width: 68px;
}

.decor05{
    top: 100px;
   right : 40px;
    width: 100px;
}

.decor06{
    bottom: 72px;
    right: 0;
    width: 260px;
}

.decor07{
    bottom: 4px;
    left: 0;
    width: 212px;
}


.BannerPawLeft{
    left: 88px;
    top: 200px;
    width: 116px;
}

.BannerPawRight{
    bottom: 132px;
    right: 120px;
    width: 148px;
}