.HotSaleSec{
    background-color: #fefae0;
    position: relative;
}

.PawOutline{
    position: absolute;
    top: 100px;
    left: 80px;
}

.mb-04{
    margin-bottom: 4px;
}

.HST1P{
    
}

.HST1C{
    width: 488px;
}

.w-280{
    width: 280px;
}

.SHT23{
    width: 224px;
}

.m-42{
    margin-bottom: 42px;
}

.btn-back{
    margin-left: 24px;
}

.btn-HST3{
    justify-content: end;
}

.HotSaleText{
    position: relative;
}

.OrLeft{
    position: absolute;
    left: 550px;
    top: 0;
}

.OrRight{
    position: absolute;
    right: 550px;
    top: 0;
}

// @media (max-width: 574px){
    
// }