.HotSaleSec{
    background-color: #fefae0;
    position: relative;
}

.HotSaleTop1{
    @media (max-width: 768px) {
    margin-bottom: 60px; // 平板
    
  }

}

.PawOuline{
    width: 9vw;
    top: 30px;
    left: calc(10% - 170px);

    @media (max-width: 768px) {
    width: 8vw;
    left: calc(10% - 40px);
    top: 35px;
}
}

.mb-04{
    margin-bottom: 4px;
}

.HST1C{
    width: 488px;
}

.w-280{
    width: 280px;
}

.SHT23{
    width: 224px;
}

.m-42{
    margin-bottom: 42px;
}

.btn-back{
    margin-left: 24px;
}

.btn-HST3{
    justify-content: end;
}

.HSTitle{
    @media (max-width: 768px) {
    padding-top: 40px;
  }
}

.OrLeft{
    left: calc(50% - 115px);
    top: 0;

    @media (max-width: 768px) {
    left: 160px; // 平板
    top: 42px;
  }
}

.OrRight{
    right: calc(50% - 115px);
    top: 0;

    @media (max-width: 768px) {
    right: 160px; // 平板
    top: 42px;
  }
}

.HotSaleTop1{
    padding-right: 80px;

    @media (max-width: 768px) {
    padding-right: 0;
  }
}
