<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>汪喵鋪介紹</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <h1>我是about</h1>
    
    <!-- 品牌理念 -->
    <section class="mb-11">
      <div class="container">
        <div class="row g-5">
          <div class="d-flex flex-column justify-content-center align-items-center mb-10">
            <img class="mb-2" src="../assets/images/about/Logo (only icon).png" alt="paw icon" style="width: 39px; height: 36px;">
            <h3>品牌理念</h3>
          </div>
          <!-- 以愛為出發點 -->
          <div class="col-xl-3 text-center text-primary-2-05 section-concept">
            <div class="section-concept-top mb-5">
              <img src="../assets/images/about/愛心圖標 Lovart.png" alt="heart icon">
            </div>
            <h5 class="mb-2">以愛為出發點</h5>
            <p>
              我們相信，每一位毛孩都值得被疼愛，所有商品都是與服務，都是從「愛牠如家人」理念出發
            </p>
          </div>
          <!-- 嚴選高品質產品 -->
          <div class="col-xl-3 text-center text-primary-2-05">
            <div class="section-concept-top mb-5">
              <img src="../assets/images/about/放大镜图标.png" alt="search icon">
            </div>
            <h5 class="mb-2">嚴選高品質產品</h5>
            <p>
              從食品到玩具，所有商品皆經過團隊親自試用、把關，確認天然、安全
            </p>
          </div>
          <!-- 以顧客為中心 -->
          <div class="col-xl-3 text-center text-primary-2-05">
            <div class="section-concept-top mb-5">
              <img src="../assets/images/about/使用者图标 Lovart.png" alt="customericon">
            </div>
            <h5 class="mb-2">以顧客為中心</h5>
            <p>
              不只聽見毛孩的需求,也重視每一位毛爸毛媽的需求，提供快速回應、貼心的售後服務
            </p>
          </div>
          <!-- 永續與關懷 -->
          <div class="col-xl-3 text-center text-primary-2-05">
            <div class="section-concept-top mb-5">
              <img src="../assets/images/about/環保地球圖示.png" alt="customericon">
            </div>
            <h5 class="mb-2">永續與關懷</h5>
            <p>
              我們重視地球與生命的共存，選用友善環境的包材，支持在地品牌
            </p>
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
