<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>汪喵鋪介紹</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <h1>我是about</h1>
    
    <!-- 品牌理念 -->
    <section class="py-xl-11 py-9 bg-primary-1-01 position-relative">
      <img class="position-absolute about-bone-decoration" src="../assets/images/about/bone.png" alt="骨頭裝飾插圖">
      <div class="container">
        <div class="row g-5">
          <div class="d-flex flex-column justify-content-center align-items-center mb-10">
            <img class="mb-2" src="../assets/images/about/Logo (only icon).png" alt="paw icon" style="width: 39px; height: 36px;">
            <h3 class="fs-xl-3 fs-5 mb-0 fw-bold">品牌理念</h3>
          </div>
          <!-- 以愛為出發點 -->
          <div class="col-xl-3 text-center text-primary-2-05 section-concept">
            <div class="section-concept-top mb-3 mb-xl-5 d-flex justify-content-center w-100">
              <img src="../assets/images/about/愛心圖標 Lovart.png" alt="heart icon">
            </div>
            <h5 class="mb-2 fw-bold fs-6 fs-xl-5 fs-6 fs-xl-5">以愛為出發點</h5>
            <p>
              我們相信，每一位毛孩都值得被疼愛，所有商品都是與服務，都是從「愛牠如家人」理念出發
            </p>
          </div>
          <!-- 嚴選高品質產品 -->
          <div class="col-xl-3 text-center text-primary-2-05">
            <div class="section-concept-top mb-5 d-flex justify-content-center w-100">
              <img src="../assets/images/about/放大镜图标.png" alt="search icon">
            </div>
            <h5 class="mb-2 fw-bold fs-6 fs-xl-5">嚴選高品質產品</h5>
            <p>
              從食品到玩具，所有商品皆經過團隊親自試用、把關，確認天然、安全
            </p>
          </div>
          <!-- 以顧客為中心 -->
          <div class="col-xl-3 text-center text-primary-2-05">
            <div class="section-concept-top mb-5 d-flex justify-content-center w-100">
              <img src="../assets/images/about/使用者图标 Lovart.png" alt="customericon">
            </div>
            <h5 class="mb-2 fw-bold fs-6 fs-xl-5">以顧客為中心</h5>
            <p>
              不只聽見毛孩的需求,也重視每一位毛爸毛媽的需求，提供快速回應、貼心的售後服務
            </p>
          </div>
          <!-- 永續與關懷 -->
          <div class="col-xl-3 text-center text-primary-2-05">
            <div class="section-concept-top mb-5 d-flex justify-content-center w-100">
              <img src="../assets/images/about/環保地球圖示.png" alt="customericon">
            </div>
            <h5 class="mb-2 fw-bold fs-6 fs-xl-5">永續與關懷</h5>
            <p>
              我們重視地球與生命的共存，選用友善環境的包材，支持在地品牌
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- 毛爸毛媽怎麼說 -->
    <section class="ppy-xl-11 py-9 bg-primary-1-01 position-relative">
      <img class="position-absolute about-fishbone-decoration" src="../assets/images/about/fish bone.png" alt="魚骨頭裝飾插圖">
      <div class="container">
        <div class="row g-5">
          <div class="d-flex flex-column justify-content-center align-items-center mb-10">
            <img class="mb-2" src="../assets/images/about/Property 1=speceh bubble with heart, style=outlined.png" alt="paw icon" style="width: 39px; height: 36px;">
            <h3 class="fs-xl-3 fs-5 mb-0 fw-bold">毛爸毛媽怎麼說</h3>
          </div>
          <!-- Lily (柴犬麻麻) -->
          <div class="col-xl-4 text-center text-primary-2-05 section-concept">
            <div class="mb-5">
              <img src="../assets/images/about/Property 1=1.png" alt="customer-Lily">
            </div>
            <h5 class="mb-2 fw-bold fs-6 fs-xl-5">Lily (柴犬麻麻)</h5>
            <p>
              這裡的狗糧真的品質超好，我家狗狗吃了皮膚不再過敏！
            </p>
          </div>
          <!-- Eric (貓奴) -->
          <div class="col-xl-4 text-center text-primary-2-05">
            <div class="mb-5">
              <img src="../assets/images/about/Property 1=2.png" alt="customer-Eric">
            </div>
            <h5 class="mb-2 fw-bold fs-6 fs-xl-5">Eric (貓奴)</h5>
            <p>
              送貨速度快，還有手寫小卡片，真的超貼心！
            </p>
          </div>
          <!-- Andy (貓奴拔拔) -->
          <div class="col-xl-4 text-center text-primary-2-05">
            <div class="mb-5">
              <img src="../assets/images/about/Property 1=3.png" alt="customer-Andy">
            </div>
            <h5 class="mb-2 fw-bold fs-6 fs-xl-5">Andy (貓奴拔拔)</h5>
            <p>
              品質真的好，且客服回覆迅速，有問題都能快速解決
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- 聯絡我們 -->
    <section class="py-xl-11 py-9 bg-primary-1-01 position-relative">
      <img class="position-absolute about-outlinedpaw-decoration" src="../assets/images/about/outlinedpaw.png" alt="腳掌裝飾插圖">
      <div class="container">
        <div class="row g-5">
          <div class="d-flex flex-column justify-content-center align-items-center mb-10">
            <img class="mb-2" src="../assets/images/about/Vector.png" alt="paw icon" style="width: 39px; height: 36px;">
            <h3 class="fs-xl-3 fs-5 mb-0 fw-bold">聯絡我們</h3>
          </div>
          <!-- Contact Us -->
          <div class="col-xl-6 d-flex align-items-center">
            <ul>
              <li class="d-flex align-items-center mb-9 text-primary-2-04 fs-5 fs-bold">
                <img class="me-1" src="../assets/images/icons/mail.svg" alt="mail icom"> 
                <span class="fw-bold">信箱</span>
                <span class="ms-5 text-primary-2-05 fs-normal">service@petshop.com
                </span>
              </li>
              <li class="d-flex align-items-center mb-9 text-primary-2-04 fs-5 fs-bold">
                <img class="me-1" src="../assets/images/icons/headset.svg" alt="mail icom">
                <span class="fw-bold">電話</span>
                <span class="ms-5 text-primary-2-05 fs-normal">0912345678
                </span>
              </li>
              <li class="d-flex align-items-center mb-9 text-primary-2-04 fs-5 fs-bold">
                <img class="me-1" src="../assets/images/icons/clock-hour-4.svg" alt="mail icom">
                <span class="fw-bold">時間</span>
                <span class="ms-5 text-primary-2-05 fs-normal">週一至週五 08:00〜17:00
                </span>
              </li>
              <li class="d-flex align-items-center mb-9 text-primary-2-04 fs-5 fs-bold">
                <img class="me-1" src="../assets/images/icons/map-pin.svg" alt="mail icom">
                <span class="fw-bold">地址</span>
                <span class="ms-5 text-primary-2-05 fs-normal">喵喵市汪汪路168號
                </span>
              </li>
            </ul>
          </div>
          <!-- MAP -->
          <div class="col-xl-6 text-center d-flex align-items-center">
            <img src="../assets/images/about/Frame 2611086.png" alt="map">
          </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
