<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <header class="site-header position-relative">
      <%- include('./layout/header'); -%>
      <section class="hero d-flex align-items-center flex-lg-row flex-column">
        <div class="hero-images order-2 order-lg-0">
          <img class="w-100" src="../assets/images/index/Image.png" alt="cat and dog">
        </div>
        <div class="hero-content text-lg-end text-center order-1 order-lg-1">
          <h1 class="mb-5">從汪星到喵星，都值得最好的寵愛</h1>
          <h2 class="mb-12">給毛孩的愛，一點都不能少</h2>
          <!-- CTA 搜尋列 -->
          <div class="searchbar position-relative d-flex align-items-center">
            <span class="position-absolute start-0 top-50 translate-middle-y ps-3">
              <img src="../assets/images/icons/search.svg" alt="搜尋圖示">
            </span>
            <input
            class="form-control searchbar-input py-4 me-3" 
            type="text" 
            placeholder="今天想要給主子買點什麼？" aria-label="搜尋寵物商品">
            <button type="button" class="btn searchbar-btn py-4 px-6 ">點擊選購</button>
          </div>
        </div>
      </section>
      <img class="hero-paw position-absolute" src="../assets/images/index/paw-2.png" alt="腳掌插圖">
      <img class="position-absolute start-0 bottom-0" src="../assets/images/index/wave-2.png" alt="裝飾曲線">
    </header>
    


    
    <!-- Modal 按鈕 -->

    <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-taget="#exampleModal"
    >
    打開modal
    </button>

    <!-- Modal 元件 -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
