<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>汪喵鋪</title>
  </head>
  <body>
    <header class="site-header position-relative">
      <%- include('./layout/header'); -%>
      <section class="hero d-flex align-items-center flex-lg-row flex-column">
        <div class="hero-images order-2 order-lg-0">
          <img class="w-100" src="../assets/images/index/Image.png" alt="cat and dog">
        </div>
        <div class="hero-content text-lg-end text-center order-1 order-lg-1">
          <h1 class="mb-5 fs-4 fs-lg-1">從汪星到喵星，
            <span class="d-block d-lg-none title-br"></span>
            都值得最好的寵愛
          </h1>
          <h2 class="mb-12 fs-5 fs-lg-2">給毛孩的愛，一點都不能少</h2>
          <!-- CTA 搜尋列 -->
          <div class="searchbar position-relative d-flex flex-column flex-md-row align-items-md-center">
            <span class="position-absolute start-0 top-50 translate-middle-y ps-3">
              <img src="../assets/images/icons/search.svg" alt="搜尋圖示">
            </span>
            <input
            class="form-control searchbar-input py-4 me-3" 
            type="text" 
            placeholder="今天想要給主子買點什麼？" aria-label="搜尋寵物商品">
            <button type="button" class="btn searchbar-btn py-4 px-6 mt-3 mt-lg-0">點擊選購</button>
          </div>
        </div>
      </section>
      <img class="hero-paw position-absolute" src="../assets/images/index/paw-2.png" alt="腳掌插圖">
      <img class="w-100 position-absolute start-0 bottom-0" src="../assets/images/index/wave-2.png" alt="裝飾曲線">
    </header>
    



    <main>
      <section class="bg-section py-9 py-lg-11">
        <img src="/assets/images/index/cat ear.svg" class="catear-left" />
        <h3 class="section-title text-center mb-2 fw-bold">喵星專區</h3>
         <img src="/assets/images/index/cat ear.svg" class="mirror catear-right" />
        <p class="b1 text-center fw-normal mb-10">只要主子滿意，跪著補貨也願意</p>
          <img src="/assets/images/index/fish bone.png" class="fishbone" />
        <div class="container-xxl cards-area d-flex justify-content-center">
          <div class="row row-cols-1 row-cols-lg-3 text-center ">
              <div class="col">
                <div class="card card-box ">
                  <img
                    src="/assets/images/index/Section2/image.png"
                    class="card-img-top mb-4"
                    alt="..."
                  />
                  <div class="p-0 ">
                    <h5 class="card-title fw-bold">喵星主食</h5>
                    <p class="card-text fw-normal m-0 mb-md-6 mb-5">
                      為貓咪提供最真誠的呵護，天然食材，純粹美味，讓他天天都開心
                    </p>
                    <a href="#" class="btn btn-primary filled-btn mb-10 mb-lg-0">查看更多</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-box">
                  <img
                    src="/assets/images/index/Section2/image-1.png"
                    class="card-img-top img-fluid mb-4"
                    alt="..."
                  />
                  <div class="p-0">
                    <h5 class="card-title fw-bold">貓咪保健</h5>
                    <p class="card-text fw-normal m-0 mb-md-6 mb-5">
                      輕鬆保養，讓貓咪的毛髮亮麗，免疫力強健，每一天都更健康
                    </p>
                
                    <a href="#" class="btn btn-primary filled-btn mb-10 mb-lg-0">查看更多</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-box">
                  <img
                    src="/assets/images/index/Section2/image-2.png"
                    class="card-img-top img-fluid mb-4"
                    alt="..."/>
                  <div class="p-0">
                    <h5 class="card-title">日常護理</h5>
                    <p class="card-text fw-normal m-0 mb-md-6 mb-5">
                      從好吃的好玩的，到全身洗香香抱抱睡，一次滿足
                    </p>
                    <a href="#" class="btn btn-primary filled-btn">查看更多</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
            <section class="bg-section py-10">
               <img src="/assets/images/index/dog ear.svg" class="dogear-left" />
        <h3 class="section-title text-center mb-2 fw-bold">汪星專區</h3>
          <img src="/assets/images/index/dog ear.svg" class="mirror dogear-right" />
          <img src="/assets/images/index/bone.png" class="bone" />
        <p class="b1 text-center fw-normal mb-10">狗管家嚴選，毛孩健康又開心</p>
        <div class="container-xxl cards-area d-flex justify-content-center">
          <div class="row row-cols-1  row-cols-lg-3 text-center ">
              <div class="col">
                <div class="card card-box ">
                  <img
                    src="/assets/images/index/Section3/image.png"
                    class="card-img-top mb-4"
                    alt="..."
                  />
                  <div class="card-body  p-0 ">
                    <h5 class="card-title fw-bold">汪星主食</h5>
                    <p class="card-text fw-normal m-0 mb-md-6 mb-5">
                      天然營養，專為狗狗設計，讓牠每一口都充滿健康與活力
                    </p>
                    <a href="#" class="btn btn-primary filled-btn mb-md-6 mb-5">查看更多</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-box">
                  <img
                    src="/assets/images/index/Section3/image-1.png"
                    class="card-img-top img-fluid mb-4"
                    alt="..."
                  />
                  <div class="card-body p-0 ">
                    <h5 class="card-title fw-bold">本汪健康</h5>
                    <p class="card-text fw-normal m-0 mb-md-6 mb-5">
                      讓狗狗充滿活力，天然成分呵護牠的關節、毛髮與免疫力，健康每一天！
                    </p>
                
                    <a href="#" class="btn btn-primary filled-btn mb-10 mb-lg-0">查看更多</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-box">
                  <img
                    src="/assets/images/index/Section3/image-2.png"
                    class="card-img-top img-fluid mb-4"
                    alt="..."/>
                  <div class="card-body p-0 ">
                    <h5 class="card-title">日常護理</h5>
                    <p class="card-text fw-normal m-0 mb-md-6 mb-5">
                      溫和無害，專為狗狗肌膚設計，潔淨毛髮同時保護牠的天然屏障！
                    </p>
                    <a href="#" class="btn btn-primary filled-btn mb-10 mb-lg-0">查看更多</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

 <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
